{% load static %}

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- JS, Popper.js, and jQuery -->
    <script>{% include 'script.js' %}</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap.min.js' %}"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

<div class="container">
    {{score}}
    <br>
    <br>
    <div class="row">
        <div class="col col-lg-2">
            <div class="word_holder">
                <span class="word" id="romanian">{{romanian}}</span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col col-lg-10">
        </div>
        <div class="col col-lg-2">
            <span class="word" id="english">{{english}}</span>
        </div>
    </div>
</div>



<script>